key "tsig-key" {
    algorithm hmac-sha256;
    secret "{{ tsig_key_clean }}";
};

{% for zone in zones %}
zone "{{ zone.name }}" {
    type {{ zone.type }};
    file "{{ zone.file }}.signed";
};
{% endfor %}

server {{ primary_ip }} {
    keys { "tsig-key"; };
};
